@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    display: flex;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: center;
}

#st-login{
    background-image: url(../img/bg-horizon.jpg);
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    
    color: white;
}

.form-container{
    background-color: #3b3b3b;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1em 0;
    -webkit-box-shadow: 7px 9px 7px -7px rgba(0,0,0,1);
    -moz-box-shadow: 7px 9px 7px -7px rgba(0,0,0,1);
    box-shadow: 7px 9px 7px -7px rgba(0,0,0,1);
    width: 90%;
    animation-name: appear;
    animation-duration: 1.5s;
    opacity: .9;
}

@keyframes appear{
    from{opacity: 0;}
    to{opacity: .9;}
}

#sign-up{
    color: #949494;
    padding: 3em 2em;
    /* width: 50%; */
}

#sign-up p{
    padding: 2em 0;
}

#sign-up a{
    position: fixed;
    border: 1px solid #949494;
    border-radius: 5px;
    color: #949494;
    padding: .5em 3em;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    overflow: hidden;
}

#sign-up  a:hover{
    background-color: #949494;;
    color:black;
}

#login-section{
    background-color: #ececec;
    border-radius: 5px;
    color: black;
    padding: 2em 1.5em;
    position: absolute;
    height: 110%;
    top: 105%;
     -webkit-box-shadow: 7px 9px 7px -7px rgba(0,0,0,1);
    -moz-box-shadow: 7px 9px 7px -7px rgba(0,0,0,1);
    box-shadow: 7px 9px 7px -7px rgba(0,0,0,1);
}

#login-section h2{
    color: #ed8777;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

form .line{
    padding: .5em 0;
    border-bottom: 1px solid grey;
}

form .line input{
    background-color: #ececec;
    border: none;
    color: #949494;
    font-size: 1em;
    height: 35px;
    margin-bottom: .5em;
    width: 90%;
}

form .line input:active{
    border: 1px solid grey;
}

form .line i{
    color: grey;
}

.buttons{
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
}

#forgot{
    border: none;
    border-radius: 5px;
    color: #949494;
    transition: .3s;
    padding: 1em;
    overflow: hidden;
}

#forgot:hover{
    color: black;
}

#login{
    /* background: linear-gradient(90deg,#ed8777,#a75c50 ); */
    background-color: #ed8777;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    transition: .3s;
    padding: 1em;
    overflow: hidden;
   
}

#login:hover{
    /* background: linear-gradient(90deg,#a75c50,#ed8777 ); */
    background-color: #b1695e;
}

span{
    position:absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: shockwave 1s linear infinite;
}

@keyframes shockwave{

    0%{
        width: 0px;
        height: 0px;
        opacity: .5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }

}


@media screen and (min-width: 768px){
      body{
        align-items: center;
    }

      #st-login{
        background-size: cover;
    }

    
    .form-container{
        flex-direction: row;
        height: 350px;
        width: 80%;
    }

    
    #sign-up{
    width: 50%;
    }

    #login-section{
        width: 60%;
        top: -10%;
        right: -2em;
        padding: 4em 1.5em;
        height: 115%;
    }

    #login{
        padding: 1em 3em;
    }

}

@media screen and (min-width: 1200px){

    body{
        align-items: center;
    }

    #st-login{
        background-size: cover;
    }

    .form-container{
        flex-direction: row;
        height: 300px;
        width: 50%;
    }

    #sign-up{
    width: 50%;
    }

    #login-section{
        width: 50%;
        top: -10%;
        right: 2em;
        padding: 4em 1.5em;
        height: 120%;

    }

    .buttons{
        margin: 3em 0;
    }

    #login{
        padding: 1em 3em;
    }


}